// === FONTS ===
$text-font: "Ubuntu", Arial, sans-serif;
$text-size: 18px;

// === COLORS ===
$text-color: #000;
$backdrop-color: rgba(0, 0, 0, 0.75);
$modal-bg-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.85);
