@import "partials/variables";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  text-align: center;
  color: $text-color;
  background-color: $background-color;
  font: normal normal 300 $text-size $text-font;
}

.key {
  display: inline-block;
  padding: 0 0.5rem;
  font-weight: $text-weight;
}

.backdrop {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: $backdrop-color;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 50%;
  max-width: 800px;
  background-color: $modal-bg-color;
  color: $modal-txt-color;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 3%;
  text-align: center;
  overflow: auto;
  box-shadow: 0 0 10px 0 $shadow-color;
  font-size: 1.2rem;
}

.title {
  line-height: 1.5em;
  font-size: 1.4em;
  font-weight: $text-weight;
}

.instruction-title {
  line-height: 1.4rem;
  font-size: 1.2rem;
  font-weight: $text-weight;
}

.game-result li,
.instruction li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instruction li {
  justify-content: left;
  text-align: left;
}

.game-result .fas,
.instruction .fas {
  display: inline-block;
  padding-right: 0.75rem;
  font-size: 1.2rem;
}

.level-result,
.lives-result {
  padding-left: 0.5rem;
}

.play {
  padding: 0.1rem;
  border: none;
  background: none;
  padding-left: 0.5rem;
  cursor: pointer;
}

.play .fas {
  font-size: 2.5rem;
  transition: all 0.3s;
}

.play:hover .fas {
  transform: scale(1.2);
}

.sprite {
  display: inline-block;
  width: 101px;
  height: 101px;
  overflow: hidden;
}

.sprite img {
  position: relative;
  display: block;
  top: -50px;
}

.show-modal {
  display: flex;
}